/node_modules

### dist directory
# We want to ingore all content, but still keep dir structure intact
# First ignore all content
/dist/**
# Then exclude folders from the ignore rules
!/dist/**/
# And finally whitelist the .gitkeep file
# That works because the .gitkeep parent folders are excluded from the ignore rules
!/dist/**/.gitkeep
